/* Selettore {
    proprietà: valore;
} */

header {
    background-color: lightgrey;
    text-align: center;
}

hr{
    border-color: red;
}

.section-title {
    color: orange;
    font-family:Arial, Helvetica, sans-serif

}

main {
padding: 8px;


}



